.main-wrapper{
    background-color: aquamarine;
    height: 100vh;
}

.grid{
    background-color: red;
    width: 1000px;
    aspect-ratio: 1;
}

.grid button{
    width: 100%;
}

.square{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-grow: 0;
    cursor: pointer;
}

.square.clicked{
    background-color: blue;
}